*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
h1{
    color: azure;
    display: block;
    text-align: center;
    padding: auto;
margin: auto;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.carrossel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 500px;
    width: 700px;

}
.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}
img{
    object-fit: fill;
    height: 500px;
    width: 700px;
}